@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Playfair+Display&family=Poppins:wght@300&family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif;
}

body {
  font-size: 75.5%;
}
.header {
  background-color: #e6e6e0;
}

.header1 {
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header1 img {
  width: 60px;
  height: 40px;
}

.navlink1 {
  text-decoration: none;
  margin-left: 70px;
  color: #333;
  font-size: 15px;
}

.auth1 {
  text-decoration: none;
  font-size: 12px;
  color: #333;
}

.auth {
  background-color: #cbccbf;
  border-radius: 10px;
  text-align: center;
  margin-left: 50px;
}

.icon {
  color: #333;
}

.font {
  display: flex;
  justify-content: space-between;
}

.row1 h1 {
  font-size: 33px;
  margin-left: 40px;
  margin-top: 60px;
  margin-bottom: 70px;
}

.row1 ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background: linear-gradient(#e6e6e0, #e6e6e0);
  z-index: -1;
}

.row1 img {
  height: 250px;
  width: 350px;
  margin-left: 40px;
}

.row2 img {
  margin-right: 50px;
  margin-top: 55px;
  margin-bottom: 90px;
  height: 570px;
  width: 350px;
}

.cate {
  background-color: #e6e6e0;
  padding-top: 25px;
  padding-bottom: 25px;
}

.cate h1 {
  text-align: center;
  align-items: center;
  font-size: 32px;
}

.col22 {
  margin-left: 50px;
}

.col22 h1 {
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.col22 img {
  width: 50px;
}

.sec {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.com h1 {
  font-size: 40px;
  margin-top: 100px;
  margin-left: 50px;
}

.row3 {
  margin-left: 50px;
}

.row3 h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 50px;
}

.row3 a {
  color: #333;
}

.row4 {
  margin-right: 50px;
}

.row4 img {
  width: 350px;
  height: 480px;
}

.footer {
  background-color: #e6e6e0;
  display: flex;
  justify-content: space-between;
}
.row5 {
  margin-left: 40px;
}

.row5 h1 {
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.row5 p {
  font-size: 12px;
  margin-bottom: 80px;
}

.row5 img {
  width: 300px;
  margin-bottom: 40px;
}

.row6 {
  margin-right: 40px;
}

.row6 img {
  width: 340px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.row6 p {
  font-size: 12px;
  text-align: end;
}

.containe ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../image/auth.webp);

  z-index: -1;
}
.forms {
  background: linear-gradient(rgba(97, 97, 96, 0.78), rgba(93, 93, 93, 0.792));
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 100px;
}

.formgroup {
  margin-bottom: 13px;
}

.footerauth {
  margin-top: 30px;
}

.auth222 {
  display: flex;
}

.auth222 h1 {
  font-weight: bold;
  font-size: 25px;
}

.auth222 .sign {
  text-decoration: none;
  color: #000;
}

.formss {
  background: linear-gradient(rgba(97, 97, 96, 0.78), rgba(93, 93, 93, 0.792));
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 20px;
}

.signs {
  text-decoration: none;
  color: #000;
}

.foot {
  margin-top: 14px;
}

.foott {
  margin-top: 30px;
}
